
@font-face {
  font-family: Proxima-alt-bold;
  src: url(../font/Proxima\ Nova\ Alt\ Bold.otf);
}
@font-face {
  font-family: Proxima-alt-Light;
  src: url(../font/Proxima\ Nova\ Alt\ Light.otf);
}
@font-face {
  font-family: Proxima-alt-Thin;
  src: url(../font/Proxima\ Nova\ Alt\ Thin.otf);
}
@font-face {
  font-family: Proxima-Black;
  src: url(../font/Proxima\ Nova\ Black.otf);
}
@font-face {
  font-family: Proxima-bold;
  src: url(../font/Proxima\ Nova\ Bold.otf);
}
@font-face {
  font-family: Proxima-Extrabold;
  src: url(../font/Proxima\ Nova\ Extrabold.otf);
}
@font-face {
  font-family: Proxima-Thin;
  src: url(../font/Proxima\ Nova\ Thin.otf);
}
@font-face {
  font-family: Proxima-Regular;
  src: url(../font/ProximaNova-Regular.otf);
}
@font-face {
  font-family: Proxima-Sbold;
  src: url(../font/FontsFree-Net-Proxima-Nova-Sbold.otf);
}

/*----------- navigation bar start -----------------*/

@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
* {
  font-family: "Titillium Web", sans-serif;
}

.sticky-top{
    background-color: #4E4F4F;
    padding: 5px;
}
.navbar .navbar-brand {
  font-size: 30px;
  color: white;
  font-family: Proxima-bold;
}
.navbar .nav-item {
  padding: 5px 10px;

}

.navbar .nav-item a{
  font-family: Proxima-Regular;
}

.navbar .nav-link {
  font-size: 15px;
  margin-left: 10px;
  color: white;
}
.fa-bars {
  color: #ffffff;
  font-size: 30px;
}

/*----------- navigation bar end -----------------*/
/* .frontimg{
    background-image: url(../images/frontimage.jpg);
    background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */
.mainimage{
  position: absolute;
}
.bottombutton ul{
    list-style-type: none;
    padding-left: 20px;
 margin: 0;
}
.bottombutton li{
    margin-bottom: 5px;
}

.page-link{
  background-color: #ffffff80;
  color: black;
  border: 0;
  margin: 1px;
}

.rightbutton{
  background: #ffffff80;
  color: #404040;
  padding: 8px;
  border-radius: 4px;
  margin: 2px;
  font-family: Proxima-Sbold;
}
.rightbutton:hover{
text-decoration: none;
cursor: pointer;
color: #404040;
}
.previewbutton{
  background: #0074B0;
  color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 4px;
  margin: 2px;
  font-family: Proxima-Sbold;
}
.previewbutton:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
  
}


#menu-overlay {
  display: none;
  position: fixed;
  opacity: 0.1; /* can be made to 0 */
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}
.ul_menu, #menu {
  margin: 0;
  padding: 0;
}
#menu {
 position: relative;
 z-index: 5;
 color: black;
 font-size: 20px;  
 top: 6px;
 text-align: end;
}

#menu .parent {
  display: block;
  padding: 10px;
  line-height: 30px;
  text-transform: capitalize;
  cursor: pointer;
  text-align: left;
}

#menu .parent .sub-nav { display: none; }

#menu .parent .sub-nav {
  list-style: none;
  background: #ffffff80;
  margin: 5px;
  padding: 5px 20px;
  width: 390px;
  position: absolute;
  text-align: center;
  left: 26px;
  border-radius: 5px;

}
#menu .parent .sub-nav li:not(:last-child) {
  border-bottom: 1px solid #efefef;
}
#menu .parent .sub-nav li a {
  text-decoration: none;
  color: #717171;
  font-size: 19px;
  display: block;
  font-family:  Proxima-Regular;
}

#menu .parent .sub-nav li a:hover {  }

.item h4{
  background: #ffffff80;
  padding: 8px 7px;
  text-align: center;
  border-radius: 5px;
  font-family: Proxima-Sbold;
  color: #717171;
  font-size: 20px;
  height: 40px;
  overflow: hidden;
}

.ion-chevron-left {
  background-color: #ffffff80;
  position: absolute;
  top: 0;
  right: -29px;
  border-radius: 5px;
  padding: 14px 10px;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;

}

.ion-chevron-right {
  background-color: #ffffff80;
  position: absolute;
  top: 0;
    left: -30px;
    border-radius: 5px;
    padding: 14px 10px;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);  */
}

/* Modal Content */

.modal-content p{
  font-family: Proxima-Regular;
}
/* The Close Button */
.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close1 {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#fullview{
  display: none;
}
.replace{
  color: white;
  text-align: center;
  background: #0074B0;
  font-size: 25px;
  padding: 15px;
  font-family: Proxima-Sbold;
  border-radius: 5px;
  text-transform: uppercase;
}
.replace:hover{
  text-decoration: none;
  color: white;
}
.deletebutton{
  position: absolute;
  bottom: 31%;
  left: 67%;
}
.deletebutton:hover{
cursor: pointer;
}
#damiicon{
  display: none;
}
.spotinfo{
  position: absolute;
  top: 0;
  z-index: 100;
  text-align: center;
  background-color: #ffffffcc;
  color: #0275b1;
  padding: 8px;
  
}
.spotinfo h4{
font-family: Proxima-Sbold;
}
#Infospot{
  position: relative;
}
.ABC{
  display: block;
  transition: .4s;
}
#Cancel{
  border: 0;
    background: #606060;
    color: white;
    font-family: Proxima-Sbold;
    font-size: 25px;
    border-radius: 5px;
}
#Cancel:hover{
text-decoration: none;
}
#addspot{
  border: 0;
    background: #0074B0;
    color: white;
    padding: 15px 25px;
    font-family: Proxima-Sbold;
    font-size: 25px;
    border-radius: 5px;
}
#addspot:hover{
  text-decoration: none;
  }
#addspotno{
  border: 0;
    background: #0074B0;
    color: white;

    font-family: Proxima-Sbold;
    font-size: 25px;
}
#addspotno:hover{
  text-decoration: none;
  }
  #addspotyes{
    border: 0;
      background: #0074B0;
      color: white;
 
      font-family: Proxima-Sbold;
      font-size: 25px;
  }
  #addspotyes:hover{
    text-decoration: none;
    }
#myBtn3:hover{
  cursor: pointer;
}
input{
  border: 1px solid #707070;
    padding: 9px;
    border-radius: 3px;
}
input:focus{
  border: 0;
}
textarea{
  border: 1px solid #707070;
    padding: 9px;
    border-radius: 3px;
}
textarea:focus{
  border: 0;
}
::placeholder {
  color: #cecece;
   opacity: 1; /* Firefox  */
   font-family: Proxima-Sbold;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #cecece;
 font-family: Proxima-Sbold;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #cecece;
 font-family: Proxima-Sbold;
}

/* Style the tab */
.tab {
  overflow: hidden;
 
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #606060;
  color: white;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  background: #ffffff80;
  border-radius: 5px;
  font-family: Proxima-Sbold;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0;
  border: 1px solid #ccc;
  border-top: none;
  position: absolute;
}
/* Style the close button */
.topright {
  float: right;
    cursor: pointer;
    position: absolute;
    right: 9%;
    background: #0074B0;
    color: white;
    padding: 5px;
    bottom: 11%;
    font-size: 20px;
    font-family: Proxima-Sbold;
    border-radius: 6px;
}

.compare h5{
  text-align: center;
  background: #ffffff80;
  margin-top: 15px;
  margin-bottom: 4px;
  padding: 5px;
  font-family: Proxima-Sbold;
  border-radius: 5px;
}

#menu .parent:hover .sub-nav{
  display: block;
  transition: .4s;
}
#myBtn4{
  background-color:  transparent;
    position: absolute;
    
    border-radius: 5px;
    padding: 11px 10px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    z-index: 1;
}


@media only screen and (max-width: 320px) {
 
}

@media only screen and (min-width: 320px) {
  #addspot{
    padding: 10px 10px;
  }
  .spotinfo h4{
    font-size: 15px;
  }
  .spotinfo img{
width: 5%;
  }
  #addspotyes,#addspotno{
    padding: 13px 15px;
      }
  #Cancel{

    padding: 10px 5px;
}
  .modal {
    padding-top: 270px; 
  }
  .modal-content {
    background-color: #fffffff0;
    margin: auto;
    padding: 15px;
    border: 0;
    width: 97%;
    text-align: end;
    box-shadow: 4px 4px 2px #0000002e;
  }
  #myBtn4{
    top:10px;
    right: 19px;
  }
  .paddingonowl{
    padding: 48px;
    padding-top: 10px;
  }
  .ul_menu li img{
    width:27%;
  }
  .topnavbar{
    display: inline;
  }
  .tab button{
    padding: 10px 12px;
  }
  .compare{
    position: absolute;
    right: 0;
    z-index: 10;
    width: fit-content;
    top: 8%;
  }
  .bottombutton {
    position: absolute;
    top: 58%;
    left: 1%;
    color: white;
    z-index: 10;
}
.paginationbar {
  text-align: center;
  position: absolute;
  top: 81%;
  left: 30px;
  color: white;
  display: flex;
  width: fit-content;
}
.bottomright {
  text-align: center;
  position: absolute;
  top: 87%;
  right: 20px;
  color: white;
  display: flex;
  width: fit-content;
}
.mainimage{
  height: 93vh;
}
.tabcontent {
  top: 0;
}
.comparetab{
  display: block;
}
}

@media only screen and (min-width: 415px) {

}

@media only screen and (min-width: 768px) {
  #Cancel {
    padding: 12px 12px;
}
  #addspot {
    padding: 12px 15px;
}
  .spotinfo h4{
    font-size: 22px;
  }
  .spotinfo img{
width: 3%;
  }
  .modal-content{
    width: 60%;
    background-color: #ffffffa3;
  }
  .modal {
    padding-top: 122px;
}
  .comparetab{
    display: flex;
  }
  .tabcontent {
    top: 60px;
  }
  .mainimage{
    height: 38vh;
  }
  .bottombutton{
    top: 27%;
    left: 1%;
  }
  .paginationbar {
    top: 39%;
    left: 36%;
  }
  .bottomright {
    top: 36%;
    right: 0;
  }
} 
@media only screen and (max-width: 768px) {

.navbar-collapse{
  position: absolute;
    background: rgba(78, 79, 79, 0.82);
    top: 100%;
    width: 100%;
    left: 0px;
}
}
@media only screen and (min-width: 992px) {
  .spotinfo img{
    width: 2%;
      }
} 

@media only screen and (min-width: 1200px) {
 
  .tabcontent {
    top: 0;
  }
  .mainimage{
    height: 93vh;
  }
  #addspotyes,#addspotno{
padding: 15px 25px;
  }
  #Cancel{

      padding: 15px 25px;
  }
  .modal {
    padding-top: 100px; 
  }

  .modal-content {
    background-color: #ffffffa3;
    margin: auto;
    padding: 20px;
    border: 0;
    width:44%;
    text-align: end;
    box-shadow: 4px 4px 2px #0000002e;
  }
  #myBtn4{
    top: 16px;
    right: -13px;
  }
  .paddingonowl{
    padding: 1rem;
  }
  .ul_menu li img{
    width: 64%;
  }
  .topnavbar{
    display: flex;
  }
  .tab button{
    padding: 10px 19px;
  }
  .compare{
    position: absolute;
    right: 8%;
    z-index: 10;
    width: fit-content;
    top: 10%;
  }
  .bottombutton{
    position: absolute;
    top: 71%;
    left: 1%;
    color: white;
    z-index: 10;
}
.paginationbar{
  text-align: center;
  position: absolute;
  top: 93%;
  left: 43%;
  color: white;
  display: flex;
}
.bottomright{
  text-align: center;
  position: absolute;
  top: 92%;
  right: 0;
  color: white;
  display: flex;
  width: -webkit-fill-available;
}
}